# some log and debug files
.DS_Store
log
log2
Contents.txt
cat_long_main.txt
INSTALL.txt
.gitignore

# ignore zip, pdf, doc*, and nifti
# *.mex from Octave compiling
*.mex 
*.asv
*.zip
*.pdf
*.doc*
*.nii
*.webloc
*/*.nii
*.m~
*.~ 

# but consider nifti in template folders
!templates_MNI152NLin2009cAsym/*.nii
!templates_MNI152NLin2009cAsym_1mm/*.nii
!templates_MNI152NLin2009cSym/*.nii
!templates_external/*.nii
!templates_animals/*nii
!templates_volumes_not_distributed/*nii

# exclude some folders
/logs
/data
check_pipeline/
/private
/cattest
/templates_animals_internal

